*
.jumbotron{
  background-image: url("../media/imagenfondo3.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ec6a00;
  border-color: rgb(0, 0, 0);
}
 .jumbotron p {
color: rgb(255, 255, 255);
 }

.jumbotron h1 {
  font-size: 48px;
  font-weight: bold;
}

.jumbotron p {
  font-size: 24px;
}


.main-content {
  padding: 50px 0;
}

.image-card {
  margin-bottom: 30px;
}

.logo-img {
  width: 60px;
  height: 50px;
}

.custom-toggler .navbar-toggler-text {
  margin-left: 5px;
}


/* Estilos para los nav-items */
.navbar-nav .nav-item {
  margin-right: 15px;
}

.navbar-nav .nav-link {
  color: #ffffff;
  font-weight: bold;
}

.navbar-nav .nav-link:hover {
  color: #777;
}

/* Estilos para el footer */
footer {
  background-color: #000000;
  padding: 20px 0;
  color: #ffffff;
}

.footer-link {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-link:hover {
  color: #ffffff;
}
  
@media (max-width: 576px) {
  .container {
    padding: 20px;
  }

  h1 {
    font-size: 28px;
  }

  p {
    font-size: 14px;
  }
}