
@mixin center-contents {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin hover-transition {
  transition: color 0.3s;

  &:hover {
    color: #777;
  }
}
.jumbotron {
  background-image: url("/media/imagenfondo3.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  @include center-contents;  // Aplicando el mixin center-contents
  color: #ff9100;
  border-color: rgb(0, 0, 0);

  p {
    color: #ffffff;
  }

  h1 {
    font-size: 32px;
    font-weight: bold;
  }
}

.custom-toggler .navbar-toggler-icon {
  width: 20px;
  height: 20px;
  background-size: cover;
  color: #ffffff;
}

.custom-toggler .navbar-toggler-text {
  margin-left: 5px;
}

footer {
  background-color: #000000;
  padding: 20px 0;
  color: #ffffff;

  .footer-link {
    color: #ffffff;
    text-decoration: none;
    @include hover-transition; // Aplicando el mixin hover-transition
  }
}

body {
  background-color: #f8f9fa;

  .container_ {
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


    h1{
      color: #f5750c;
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 40px;
    }

    p {
      color: #ffffff;
      font-size: 16px;
      line-height: 1.6;
    }

    .text-center {
      text-align: center;
    }

    .main-content_ {
      margin-top: 40px;

      img {
        width: 100%;
        border-radius: 8px;
        margin-bottom: 30px;
      }
    }
  }
}

@media (max-width: 576px) {
  .container {
    padding: 40px;
  }

  h1 {
    font-size: 28px;
  }

  p {
    font-size: 14px;
  }
}
